/* ===== GLOBAL STYLES ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: #F4EFEA; 
    color: #2C2C2C; 
    line-height: 1.6;
    padding: 0 10%;
}

header {
    background-color: #1F3A3D; 
    color: #F4EFEA;
    text-align: center;
    padding: 40px 20px;
    border-bottom: 6px solid #C6A75E; 
}

header h1 {
    font-size: 2.8rem;
    letter-spacing: 2px;
}

header p {
    font-style: italic;
    margin-top: 10px;
    color: #8e6b19;
}
footer {
    background-color: #1F3A3D;
    color: #F4EFEA;
    text-align: center;
    padding: 25px;
    margin-top: 50px;
    border-top: 6px solid #C6A75E;
    font-size: 0.9rem;
}

